@use "../../../styles/variables/variables.scss";

.actions {
  display: inline-flex;
  margin: 40px 0px;
  overflow: hidden;

  &__btn {
    background-color: variables.$bg-light-color;
    border: 1px solid variables.$border-color;
    width: 55px;
    display: flex;
    align-items: center;
    justify-items: center;
    aspect-ratio: 1/1;
    padding: 20px;
    transition: ease 0.3s border-color;

    &.actions__active {
      background-color: white;
      color: variables.$bg-light-color;
    }
    &.actions__active:disabled {
      background-color: rgb(173, 173, 173);
    }

    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:hover {
      border-color: white;
    }
  }
}
