$_primary-50: #f8f5ee;
$_primary-250: #dbceac;
$_primary-450: #bfa869;
$_primary-500: #b89e58;
$_primary-550: #ac9149;

$_gray-0: #fff;
$_gray-100: #e6e6e6;
$_gray-200: #cccccc;
$_gray-300: #b3b3b3;
$_gray-400: #999999;
$_gray-500: #808080;
$_gray-600: #666666;
$_gray-700: #4d4d4d;
$_gray-800: #333333;
$_gray-900: #1a1a1a;

$bg-lighter-color: #303030;
$bg-light-color: #222222;
$bg-color: #141414;

$text-lighter-color: #585858;
$text-light-color: #a9a9a9;
$text-color: white;

$border-light-color: #686868;
$border-color: #454545;

$error: rgb(207, 0, 0);
$error-dark: #390000;
